@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../../public/xdxd.svg');
   /*  background: black; */
}

.background-feed{
    background-image: url('../../public/xdxd.svg');
    background-size: cover;
    background-repeat: repeat;
}



  

  



  @media (max-width: 430px) {
   header {
     display: flex;
     flex-direction: column;
  
   }

   .iconoPrincipal{
      width: 70px;
      height: 70px;
   }
   .Iconos{
      padding-bottom: 10px;
   }

.photo-letra{
   margin-left: 0px;
}

.icons-logout{
   margin-right: 0px;
}



::-webkit-scrollbar-thumb {
   background:none; 
   border-radius: none;
 }



 }



 .desva {
  opacity: 0;
   
 }

 .desva:hover {
   opacity: 1
   
 } 

 ::-webkit-scrollbar {
   width: 20px;
 }
 

  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgb(0, 6, 94); 
   border-radius: 10px;
 }
 
 /* Handle on hover */
