@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../../public/xdxd.svg');
   /*  background: black; */
}

.background-feed{
    background-image: url('../../public/xdxd.svg');
    background-size: cover;
    background-repeat: repeat;
}

.emoji-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
 }
 .selected-emoji {
    font-size: 5rem;
 }
 .emoji-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f2f2;
    padding: 16px;
    font-size: 3rem;
    margin-top: 1rem;
 }
 .emoji-item {
    padding: 8px;
    cursor: pointer;
 }

 .scroll-container {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
  }

  

  



  @media (max-width: 430px) {
   header {
     display: flex;
     flex-direction: column;
  
   }

   .iconoPrincipal{
      width: 70px;
      height: 70px;
   }
   .Iconos{
      padding-bottom: 10px;
   }

.photo-letra{
   margin-left: 0px;
}

.icons-logout{
   margin-right: 0px;
}


 }

 .div-imagen {
   display:inline-block;
   position:relative;
 }
 
 .div-imagen > div {
   position:absolute;
   top:0;
   left:0;
   z-index:-1;
   padding:10px;
   margin:0;
 }
 
 /* .desvanecer:hover {
   opacity: 0.07;
   
 } */

 .desva {
  opacity: 0;
   
 }

 .desva:hover {
   opacity: 1
   
 } 